<div class="container">
    <ol class="breadcrumb">
        <li>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            @Html.ActionLink("MENU", "Menu", "Home", null, htmlAttributes: new { @target = "_self" })
        </li>
        <li class="active">
            @Html.Resource("Messages, ManagedMenuButton00")
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-4" ng-if="$ctrl.hasUserRole() || $ctrl.hasMakerRole()">
        <button class="btn btn-default btn-raised btn-block" ng-click="$ctrl.userList()">
            <span class="route-animate" ng-animate-ref="s-userlist">@Html.Resource("Messages, ManagedMenuButton01")</span>
        </button>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.hasMakerRole()">
        <button class="btn btn-default btn-raised btn-block" ng-click="$ctrl.makerList()">
            <span class="route-animate" ng-animate-ref="s-makerlist">@Html.Resource("Messages, ManagedMenuButton02")</span>
        </button>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.hasGroupRole()">
        <button class="btn btn-default btn-raised btn-block" ng-click="$ctrl.groupList()">
            <span class="route-animate" ng-animate-ref="s-grouplist">@Html.Resource("Messages, ManagedMenuButton03")</span>
        </button>
    </div>
    <div class="col-sm-4" ng-if="$ctrl.hasProductRole()">
        <button class="btn btn-default btn-raised btn-block" ng-click="$ctrl.productList()">
            <span class="route-animate" ng-animate-ref="s-productlist">@Html.Resource("Messages, ManagedMenuButton04")</span>
        </button>
    </div>
</div>
