@model StockSalesOrderList.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "パスワード変更";
}

@section stylesheet{
    @Styles.Render("~/Content/base")
}
@section script{
    @Scripts.Render("~/Scripts/base")
}

<div class="container">
    <ol class="breadcrumb">
        <li>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
</div>

<div class="alert alert-info">
    <div>@ViewBag.Message</div>

    @Html.GetModelPropertyName(model => model.CurrentPassword)
    を入力し、
    @Html.GetModelPropertyName(model => model.NewPassword)
    に変更後のパスワードを入力してください。
</div>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-warning" })

    @Html.AntiForgeryToken()
    <div class="@Html.ValidateLabelClass(model => model.CurrentPassword)">
        @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label label-floating" })
        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CurrentPassword, "", htmlAttributes: new { @class = "text-warning" })
        <span class="help-block">@Html.GetModelPropertyName(model => model.CurrentPassword)を入力してください。</span>
    </div>
    <div class="@Html.ValidateLabelClass(model => model.NewPassword)">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label label-floating" })
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NewPassword, "", htmlAttributes: new { @class = "text-warning" })
        <span class="help-block">@Html.GetModelPropertyName(model => model.NewPassword)を入力してください。</span>
    </div>
    <div class="@Html.ValidateLabelClass(model => model.ConfirmPassword)">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label label-floating" })
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", htmlAttributes: new { @class = "text-warning" })
        <span class="help-block">@Html.GetModelPropertyName(model => model.NewPassword)に入力したものをもう一度入力してください。</span>
    </div>
    <div class="form-group">
        <input type="submit" value="パスワード変更" class="btn btn-raised btn-success" />
    </div>
}
