@model StockSalesOrderList.Models.RequestMailViewModel

@{
    ViewBag.Title = "パスワードリセット要求";
}

@section stylesheet{
    @Styles.Render("~/Content/base")
}
@section script{
    @Scripts.Render("~/Scripts/base")
}

<div class="container">
    <ol class="breadcrumb">
        <li>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            @Html.ActionLink("Home", "Index", "Home")
        </li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
</div>

<div class="alert alert-info">
    <h4>パスワードリセット要求を行います。</h4>
    @Html.GetModelPropertyName(model => model.SinginId)
    もしくは
    @Html.GetModelPropertyName(model => model.Email)
    を入力してください。
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", htmlAttributes: new { @class = "text-warning" })

    <div class="@Html.ValidateLabelClass(model => model.SinginId)">
        @Html.LabelFor(model => model.SinginId, htmlAttributes: new { @class = "control-label label-floating" })
        @Html.TextBoxFor(model => model.SinginId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SinginId, "", htmlAttributes: new { @class = "text-warning" })
        <span class="help-block">@Html.GetModelPropertyName(model => model.SinginId)を入力してください。</span>
    </div>
    <div class="@Html.ValidateLabelClass(model => model.Email)">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label label-floating" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", htmlAttributes: new { @class = "text-warning" })
        <span class="help-block">@Html.GetModelPropertyName(model => model.Email)を入力してください。</span>
    </div>
    <div class="form-group">
        <input type="submit" value="パスワードリセット要求" class="btn btn-raised btn-success" />
    </div>
}
